.product {
  font-family: var(--headingFont);
}

.heading-product {
  font-weight: 700;
  margin-top: -4rem;
}

.toggle-slider i {
  font-size: 2.2rem;
  color: var(--primaryColor);
}

.toggle-slider i:hover {
  color: var(--secondaryColor);
}

.product-populer .img-box {
  border: 2px solid var(--primaryColor);
}

.product-populer .card-product {
  width: 280px;
}

.detail-product {
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.detail-product .label {
  font-size: 20px;
  background-color: #2a3818;
  width: 80px;
  color: white;
}

.jumlah-produk {
  font-family: var(--mainFont);
}
.detail-product .label:hover {
  background-color: var(--secondaryColor);
  color: #2a3818;
  border: 2px solid #2a3818;
}

.product-populer a {
  border: 2px solid var(--secondaryColor);
  color: var(--secondaryColor);
  font-size: 1.8rem;
}

.product-populer a:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}

.card-list {
  width: 16rem;
  box-shadow: 1px 3px 10px #888888;
}

.card-productt {
  width: 21rem !important;
  height: 50rem;
}

.bgbottom {
  color: white;
  background-color: black;
  border-radius: 30px;
  height: 28rem;
  background: linear-gradient(to bottom, #2a3818, #dfd76c) !important;
}

.img-box {
  background-color: #2a3818;
  border-radius: 30px;
}

.jumlah-bintang {
  font-family: var(--mainFont);
}

.new-product .card-title {
  font-family: var(--headingFont);
  font-weight: 700;
}

.price {
  font-weight: 700;
  font-size: large;
}

.price-wrapper i {
  font-size: 1.7rem;
}

.price-wrapper a {
  border: 2px solid var(--secondaryColor);
  color: var(--secondaryColor);
}
.price-wrapper a:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}

.btn-load button {
  background-color: var(--secondaryColor);
  color: white;
}

@media screen and (min-width: 768px) {
  .toggle-slider i {
    font-size: 3.4rem;
  }
  .banner2 .content-left {
    width: 50%;
  }
  .banner2 .price {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .heading-banner2 {
    font-size: 27px;
  }

  .banner2 .content-left {
    width: 50%;
  }

  .banner2 .price {
    width: 80%;
  }

  .card-productt {
    width: 28rem !important;
  }
}
